# Haupt-Umgebungsvariablen
PORT=3000
ADMIN_HASH=Admin234987s20873kl29820

# Untis API
UNTIS_URL=https://api.webuntis.com
UNTIS_USER=your_username
UNTIS_PASS=your_password
UNTIS_CLIENT=NCG

# ApostropheCMS
CMS_PORT=3001
BASE_URL=http://localhost:3001
MONGODB_URI=mongodb://localhost:27017/ncg-website
APOS_BEARER_TOKEN=your_cms_api_token
