.adminEditor {
    padding: 20px;
    margin: 20px;
    background: #cecece;
    border-radius: 10px;
}

.adminEditor input,
.adminEditor textarea {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
}

.adminEditor textarea {
    height: 120px;
}