
    <div class="WirSindDabeiFooter">
        <h3>Unsere Partner</h3>

        <div class="logo-slider">
            <div class="logo-track">

                <img src="../../assets/MedienScouts.png" alt="">
                <img src="../../assets/antirassismuslogo.png" alt="">
                <img src="../../assets/Koordination_NRW_Talentfoerderung.png" alt="">
                <img src="../../assets/Erasmus_am_NCG_24_2.jpg" alt="">
                <img src="../../assets/MicrosoftTeams-image_3.png" alt="">
                <img src="../../assets/lernpotenziale.jpg" alt="">
                <img src="../../assets/lassmallesenLogo.jpg" alt="">
                <img src="../../assets/DeutaWerkeLogo.webp" alt="">
                <img src="../../assets/Kreissparkasse Köln.png" alt="">
                <img src="../../assets/Logo-Volksbank-Koeln-Bonn-mit-Herz_RGB-scaled.jpg" alt="">
                <img src="../../assets/sparda-west.jpg" alt="">
                <img src="../../assets/Graeske Logo.jpg" alt="">
                <img src="../../assets/Screenshot 2026-05-05 185131.png" alt="">



                <img src="../../assets/MedienScouts.png" alt="">
                <img src="../../assets/antirassismuslogo.png" alt="">
                <img src="../../assets/Koordination_NRW_Talentfoerderung.png" alt="">
                <img src="../../assets/Erasmus_am_NCG_24_2.jpg" alt="">
                <img src="../../assets/MicrosoftTeams-image_3.png" alt="">
                <img src="../../assets/lernpotenziale.jpg" alt="">
                <img src="../../assets/lassmallesenLogo.jpg" alt="">
                <img src="../../assets/DeutaWerkeLogo.webp" alt="">
                <img src="../../assets/Kreissparkasse Köln.png" alt="">
                <img src="../../assets/Logo-Volksbank-Koeln-Bonn-mit-Herz_RGB-scaled.jpg" alt="">
                <img src="../../assets/sparda-west.jpg" alt="">
                <img src="../../assets/Graeske Logo.jpg" alt="">
                <img src="../../assets/Screenshot 2026-05-05 185131.png" alt="">
            </div>
        </div>
    </div>

    <footer class="main-footer">
        <p>&copy;2026 Nicolaus Cusanus Gymnasium Bergisch Gladbach. Alle Rechte vorbehalten.</p>
        <p>Kontakt: <a>Tel: (02202) 96997 - 0, Fax: (02202) 96997 - 39, Reuterstraße 51
                51465 Bergisch Gladbach,
                sekretariat@ncg-online.de
            </a>
        </p>
        <a class="LinkText2" href="">Impressum</a>
        <a class="LinkText2" href="">Datenschutz</a>
    </footer>