<header>
    <img class="NCGLogo" id="NCGLogo" src="../../assets/NCG_Logo.webp" alt="NCG Logo">
    <button class="MenuButton" id="MenuButton">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
</header>

<div class="overlay" id="overlay"></div>

<nav class="sideMenu" id="sideMenu">
    <div class="menuItem">
        <button class="menuCategory">Über uns</button>
        <div class="submenu">
            <a href="/Seiten/UeberUns/Schulleitung.html">Schulleitung</a>
            <a href="/Seiten/UeberUns/Sekreteriat.html">Sekreteriat</a>
            <a href="/Seiten/UeberUns/Hausmeister.html">Hausmeister</a>
            <a href="/Seiten/UeberUns/Kollegium.html">Kollegium</a>
            <a href="/Seiten/UeberUns/Referendare.html">Referendare</a>
            <a href="/Seiten/UeberUns/Schuelervertretung.html">Schülervertretung</a>
            <a href="/Seiten/UeberUns/Elternvertretung.html">Elternvertretung</a>
            <a href="/files/Organigramm_NCG_2025_1.pdf" target="_blank">Organigramm</a>
            <a href="/Seiten/UeberUns/UnserNicolaus.html">Unser Nicolaus</a>
            <a href="/Seiten/UeberUns/DigitalAmNCG.html">DigitalAmNCG</a>
            <a href="/Seiten/UeberUns/GeschichteDesNcgs.html">Geschichte</a>
            <a href="/Seiten/UeberUns/Foerderverein.html">Förderverein</a>
        </div>
    </div>
    <div class="menuItem">
        <button class="menuCategory">Unsere Ideen</button>
        <div class="submenu">
            <a href="#">Leitbild</a>
            <a href="#">Projekte</a>
        </div>
    </div>
    <div class="menuItem">
        <button class="menuCategory">Unterricht</button>
        <div class="submenu">
            <a href="#">Fächer</a>
        </div>
    </div>
    <div class="menuItem">
        <button class="menuCategory">Angebote</button>
        <div class="submenu">
            <a href="#">AGs</a>
        </div>
    </div>
    <div class="menuItem">
        <button class="menuCategory">Service</button>
        <div class="submenu">
            <a href="#">Kontakt</a>
            <a href="/Seiten/Service/Terminplan.html">Terminplan</a>
        </div>
    </div>
</nav>
